---
layout: page
title: About
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}
<div>
  <h2>
    About
  </h2>
  <p class="about">
    Data Kong, Algorithm Fan, Data Mining, Machine Learning, Open Source, Python, R
  </p>
  <p class="about">
    (数据) 挖掘+机 (器学习) 从业人员, 算法爱好者, 开源, Python, R
  </p>

  <h2>
    Links
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>

      <tr>
        <td class="col-md-3"><i class="fa fa-question-circle"></i><span> 我的知乎</span></td>
        <td><a href="http://www.zhihu.com/people/jonnywan">宛燃 - 知乎</a></td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-weibo"></i> <span>我的微博</span></td>
        <td><a href="http://www.weibo.com/crazykobe24">宛燃 - 微博</a> </td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-github"></i><span> 我的github</span></td>
        <td><a href="https://github.com/jonnywan">Jonnywan · GitHub</a></td>
      </tr>
      <tr>
        <td class="col-md-3"><i class="fa fa-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:jonnywan@Foxmail.com">Jonnywan · Foxmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include codepiano/comments %}
